<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>创建策略</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../assets/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/index.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/page.css" media="all" />
</head>

<body>
  <div class="common-page createStrategy">
    <div class="layui-tab" lay-filter="pageTab">
      <ul class="layui-tab-title layui-row  step-top-wrap">
        <li class="layui-this layui-col-md4 layui-col-sm4 step-item step-item-first" lay-id="11">
          <i class="step-icon step1"></i>
          <p class="step-text">What:基本信息</p>
        </li>
        <li class="layui-col-md4 layui-col-sm4 step-item" lay-id="22">
          <i class="step-icon  step2"></i>
          <p class="step-text">Who:目标客户群</p>
        </li>
        <li class="layui-col-md4 layui-col-sm4 step-item step-item-last" lay-id="33">
          <i class="step-icon  step3"></i>
          <p class="step-text">How:执行触点</p>
        </li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <div class="layui-card">
            <div class="layui-card-body">
              <form class="layui-form">
                <div class="layui-form-item">
                  <label class="layui-form-label">策略名称：</label>
                  <div class="layui-input-block">
                    <input type="text" name="prop1" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">关联政策：</label>
                  <div class="layui-input-block">
                    <div class="layui-card">
                      <div class="layui-card-body">
                        <div class="top-wrap clearfix">
                          <span>所有政策</span>
                          <div class="search-btn-wrap layui-inline fr">
                            <input type="text" class="layui-input" placeholder="搜索政策">
                            <i class="layui-icon layui-icon-search" onclick="rendCustWrap()"></i>
                          </div>
                        </div>
                        <div>
                          <form class="layui-form">
                            <div id="choosePolicyWrap"></div>
                          </form>
                          <div id="cust-laypage" class="text-center"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">策略描述：</label>
                  <div class="layui-input-block">
                    <textarea placeholder="请输入内容" name="prop3" class="layui-textarea"></textarea>
                  </div>
                </div>
                <div class="layui-form-item text-center">
                  <label class="layui-form-label"></label>
                  <div class="layui-input-block">
                    <button type="button" class="layui-btn" onclick="nextPage('22')">继续</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="layui-tab-item">
          <div class="layui-row layui-col-space10">
            <div class="layui-col-md8">
              <div class="layui-tab layui-tab-card tab2">
                <ul class="layui-tab-title">
                  <li class="layui-this">新增用户群</li>
                  <li>已有用户群</li>
                </ul>
                <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show">
                    <form class="layui-form" wid100>
                      <div class="layui-form-item">
                        <label class="layui-form-label">客户群类型：</label>
                        <div class="layui-input-block">
                          <div class="layui-tab layui-tab-brief custTypeTab" lay-filter="typeTab">
                            <ul class="layui-tab-title">
                              <li>取数模板</li>
                              <li>标签选择</li>
                              <li>总部模型</li>
                              <li class="layui-this">订单数据</li>
                              <li>文件上传</li>
                            </ul>
                            <div class="layui-tab-content">
                              <div class="layui-tab-item ">
                                <div class="layui-card">
                                  <div class="layui-card-body">取数模板</div>
                                </div>
                              </div>
                              <div class="layui-tab-item ">
                                <div class="layui-card">
                                  <div class="layui-card-body">标签选择</div>
                                </div>
                              </div>
                              <div class="layui-tab-item ">
                                <div class="layui-card">
                                  <div class="layui-card-body">总部模型</div>
                                </div>
                              </div>
                              <div class="layui-tab-item layui-show">
                                <div class="layui-card">
                                  <div class="layui-card-body">
                                    <form class="layui-form">
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">任务类型：</label>
                                        <div class="layui-input-block box-radio">
                                          <input type="radio" name="taskType" value="1" title="催转化" checked="">
                                          <input type="radio" name="taskType" value="2" title="催激活">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">充值数据来源：</label>
                                        <div class="layui-input-block box-radio">
                                          <input type="radio" name="originType" value="1" title="人工干预激活" checked="">
                                          <input type="radio" name="originType" value="2" title="自主激活">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">预开户前几天：</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="" id="" class="layui-input">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">预开户时间：</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="" id="" class="layui-input">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">签收状态：</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="" id="" class="layui-input">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">签收时间：</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="" id="" class="layui-input">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">订单状态：</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="" id="" class="layui-input">
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <div class="layui-tab-item ">
                                <div class="layui-card upload-card">
                                  <div class="layui-card-body">
                                    <div class="layui-upload-drag " id="uploadFile">
                                      <i class="upload-icon"></i>
                                      <p class="upload-text">文件上传</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="layui-form-item text-center">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                          <button type="button" class="layui-btn" onclick="nextPage('33')">继续</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="layui-tab-item">2</div>
                </div>
              </div>
            </div>
            <div class="layui-col-md4">
              <div class="layui-tab layui-tab-card tab2">
                <ul class="layui-tab-title">
                  <li class="layui-this">已选</li>
                  <li>排除</li>
                </ul>
                <div class="layui-tab-content">
                  <div class="layui-tab-item layui-show">默认宽度是相对于父元素100%适应的，你也可以固定宽度。</div>
                  <div class="layui-tab-item">2</div>

                </div>
              </div>
            </div>

          </div>


        </div>
        <div class="layui-tab-item">
          <div class="layui-card">
            <div class="layui-card-body">
              <form class="layui-form" wid100>
                <div class="layui-form-item">
                  <label class="layui-form-label">执行周期：</label>
                  <div class="layui-inline">
                    <div class="layui-input-inline">
                      <input type="text" class="layui-input" id="startDate" placeholder="yyyy-MM-dd">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                      <input type="text" class="layui-input" id="endDate" placeholder="yyyy-MM-dd">
                    </div>
                  </div>
                </div>
                <div class="layui-form-item multi-elem-line">
                  <label class="layui-form-label">触点选择：</label>
                  <div class="layui-inline">
                    <label class="layui-form-mid">当</label>
                    <div class="layui-input-inline">
                      <select name="select1" id="select1"></select>
                    </div>
                    <div class="layui-form-mid">是</div>
                    <div class="layui-input-inline">
                      <select name="select2" id="select2"></select>
                    </div>
                    <div class="layui-form-mid">时，执行</div>
                    <div class="layui-input-inline">
                      <select name="select3" id="select3"></select>
                    </div>
                    <div class="layui-input-inline">
                      <select name="select4" id="select4"></select>
                    </div>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label"></label>
                  <div class="layui-input-block template-wrap">
                    <div class="layui-form-item">
                      <label class="layui-form-label">接触渠道模版：</label>
                      <div class="layui-input-block choose-template-wrap">
                        <textarea placeholder="请输入内容" name="prop" class="layui-textarea"></textarea>
                        <button type="button" class="layui-btn" onclick="return false;"><i
                            class="chooseMsg-icon"></i><span>选择模板</span></button>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">短信接入号：</label>
                      <div class="layui-input-inline">
                        <select name="select5" id="select5"></select>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">活动执行时间：</label>
                      <div class="layui-inline">
                        <div class="layui-input-inline">
                          <input type="text" class="layui-input" id="startDate2" placeholder="HH:mm">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                          <input type="text" class="layui-input" id="endDate2" placeholder="HH:mm">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="layui-form-item text-center">
                  <label class="layui-form-label"></label>
                  <div class="layui-input-block">
                    <button type="button" class="layui-btn layui-btn-primary">保存</button>
                    <button type="button" class="layui-btn ">提交</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script id="policyTemplate" type="text/html">
      <div class="layui-row">
        {{#  layui.each(d, function(index, item){ }}
        <div class="layui-col-md4 layui-col-sm4 policy-item">
          <input type="radio" name="policy" value="{{item.value}}" title="{{item.text}}">
        </div>
        {{#  }); }}
      </div>
    </script>
    <script src="../../assets/layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../assets/' //静态资源所在路径
        })
        .use(['table', 'laytpl', 'laydate', 'form', 'laypage', 'element', 'upload'], function () {
          var $ = layui.$,
            table = layui.table,
            laydate = layui.laydate,
            form = layui.form,
            laytpl = layui.laytpl,
            element = layui.element,
            upload = layui.upload,
            laypage = layui.laypage;

          window.nextPage = function (page) {
            element.tabChange('pageTab', page);
          };
          element.tabChange('pageTab', '22');
          /********************************************** 基本信息区域  **********************************************/
          window.rendCustWrap = function (page) {
            page = page || 1;

            function f(i) { //渲染政策单选区域
              var policyList = []
              //模拟假数据，实际ajax请求
              for (var i = 0; i < 15; i++) {
                policyList.push({
                  value: i,
                  text: '政策' + (Math.random() * 100).toFixed(0)
                })
              }
              var getTpl = policyTemplate.innerHTML,
                view = document.getElementById('choosePolicyWrap');
              laytpl(getTpl).render(policyList, function (html) {
                view.innerHTML = html;
                form.render()
              });
            }
            f(page)
            laypage.render({
              elem: 'cust-laypage',
              limit: 15,
              cur: page,
              count: 50,
              theme: 'common',
              prev: '<em class="layui-icon layui-icon-left"></em>',
              next: '<em class="layui-icon layui-icon-right"></em>',
              jump: function (obj, first) {
                if (!first) {
                  f(obj.curr)
                }
              }
            });
          }
          rendCustWrap()
          /********************************************** 目标客户群区域  **********************************************/
          upload.render({
            elem: '#uploadFile',
            // url: '/upload/',
            before: function (obj) {
              //预读本地文件示例，不支持ie8
              obj.preview(function (index, file, result) {
                console.log(file)
                // $('#demo1').attr('src', result); //图片链接（base64）
              });
            },
            done: function (res) {
              console.log(res)
            }
          });
          /********************************************** 执行触点区域  **********************************************/
          laydate.render({
            elem: '#startDate',
          })
          laydate.render({
            elem: '#endDate',
          })
          laydate.render({
            elem: '#startDate2',
            type: 'time',
            format: 'HH:mm',
            theme: 'noSecond'
          });
          laydate.render({
            elem: '#endDate2',
            type: 'time',
            format: 'HH:mm',
            theme: 'noSecond'
          });
        })
    </script>
</body>

</html>