<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>创建策略</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../assets/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/index.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/page.css" media="all" />
  <style>
    #productWrap1 .chnl-item {
      display: none;
    }

    #productWrap2 .choose-cust .close-icon {
      display: none;
    }
  </style>
</head>

<body>
  <div class="common-page createStrategy">
    <div class="layui-tab" lay-filter="pageTab">
      <ul class="layui-tab-title layui-row  step-top-wrap">
        <li class="layui-this layui-col-md4 layui-col-sm4 step-item step-item-first" lay-id="0">
          <i class="step-icon step1"></i>
          <p class="step-text">What:基本信息</p>
        </li>
        <li class="layui-col-md4 layui-col-sm4 step-item" lay-id="1">
          <i class="step-icon  step2"></i>
          <p class="step-text">Who:目标客户群</p>
        </li>
        <li class="layui-col-md4 layui-col-sm4 step-item step-item-last" lay-id="2">
          <i class="step-icon  step3"></i>
          <p class="step-text">How:执行触点</p>
        </li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <div class="layui-card">
            <div class="layui-card-body">
              <form class="layui-form" wid140>
                <div class="layui-form-item">
                  <label class="layui-form-label">策略名称：</label>
                  <div class="layui-input-block">
                    <input type="text" name="prop1" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">关联政策：</label>
                  <div class="layui-input-block">
                    <div class="layui-card">
                      <div class="layui-card-body">
                        <div class="top-wrap clearfix">
                          <span>所有政策</span>
                          <div class="search-btn-wrap layui-inline fr">
                            <input type="text" class="layui-input" placeholder="搜索政策">
                            <i class="layui-icon layui-icon-search" onclick="rendCustWrap()"></i>
                          </div>
                        </div>
                        <div>
                          <div id="choosePolicyWrap"></div>
                          <div id="policy-laypage" class="text-center"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">策略描述：</label>
                  <div class="layui-input-block">
                    <textarea placeholder="请输入内容" name="prop3" class="layui-textarea"></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="layui-tab-item">
          <div class="layui-row layui-col-space10">
            <div class="layui-col-md3 layui-col-sm3">
              <div class="layui-card">
                <div class="layui-card-body">
                  <p><span>策略名称：</span><span>畅越冰激凌策略 </span></p>
                  <p><span>政策名称：</span><span>冰激凌套餐</span></p>
                  <div id="productWrap1"></div>
                </div>
              </div>
            </div>
            <div class="layui-col-md9 layui-col-sm9">
              <div class="layui-card">
                <div class="layui-card-body">
                  <div id="selectWrap"></div>
                  <div id="cust-laypage" class="text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-tab-item">
          <div class="layui-row layui-col-space10">
            <div class="layui-col-md3 layui-col-sm3">
              <div class="layui-card">
                <div class="layui-card-body">
                  <p><span>策略名称：</span><span>畅越冰激凌策略 </span></p>
                  <p><span>政策名称：</span><span>冰激凌套餐</span></p>
                  <div id="productWrap2"></div>
                </div>
              </div>
            </div>
            <div class="layui-col-md9 layui-col-sm9">
              <div class="layui-card">

                <div class="layui-tab layui-tab-card tab3">
                  <ul class="layui-tab-title">
                    <li class="layui-this">短信</li>
                    <li>人工外呼</li>
                    <li>智能外呼</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                      <form class="layui-form" wid110>
                        <div class="layui-form-item">
                          <label class="layui-form-label">执行方式：</label>
                          <div class="layui-input-block box-radio">
                            <input type="radio" name="exType"" value=" 1" title="周期性" checked="">
                            <input type="radio" name="exType" value="2" title="实时">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">执行周期：</label>
                          <div class="layui-inline">
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" id="startDate" placeholder="yyyy-MM-dd">
                            </div>
                            <div class="layui-form-mid">至</div>
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" id="endDate" placeholder="yyyy-MM-dd">
                            </div>
                          </div>
                        </div>

                        <div class="layui-form-item">
                          <label class="layui-form-label">接触渠道模版：</label>
                          <div class="layui-input-block choose-template-wrap">
                            <textarea placeholder="请输入内容" name="prop" class="layui-textarea"></textarea>
                            <button type="button" class="layui-btn" onclick="return false;"><i
                                class="chooseMsg-icon"></i><span>选择模板</span></button>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">短信接入号：</label>
                          <div class="layui-input-inline">
                            <select name="select5" id="select5"></select>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">活动执行时间：</label>
                          <div class="layui-inline">
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" id="startDate2" placeholder="HH:mm">
                            </div>
                            <div class="layui-form-mid">至</div>
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" id="endDate2" placeholder="HH:mm">
                            </div>
                          </div>
                        </div>
                        <div class="layui-form-item text-center">
                          <button type="button" class="layui-btn layui-btn-blue">保存</button>
                        </div>
                      </form>
                    </div>
                    <div class="layui-tab-item">
                      <form class="layui-form" wid110>
                        <div class="layui-form-item">
                          <label class="layui-form-label">有效间隔：</label>
                          <div class="layui-inline">
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" id="startDate2" placeholder="HH:mm">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                              <input type="text" class="layui-input" id="endDate2" placeholder="HH:mm">
                            </div>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">剔除标准(天)：</label>
                          <div class="layui-input-inline">
                            <input type="text" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">任务周期：</label>
                          <div class="layui-input-inline">
                            <select name="select5" id="select5"></select>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">短信类型：</label>
                          <div class="layui-input-block box-radio">
                            <input type="radio" name="smsType" value="1" title="短信" checked="">
                            <input type="radio" name="smsType" value="2" title="外呼">
                            <input type="radio" name="smsType" value="3" title="线上渠道">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">短信内容：</label>
                          <div class="layui-input-block choose-template-wrap">
                            <textarea placeholder="请输入内容" name="prop" class="layui-textarea"></textarea>
                            <button type="button" class="layui-btn" onclick="return false;"><i
                                class="chooseMsg-icon"></i><span>选择模板</span></button>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">是否搭车：</label>
                          <div class="layui-input-block box-radio">
                            <input type="radio" name="isDa" value="1" title="短信" checked="">
                            <input type="radio" name="isDa" value="2" title="外呼">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">搭车专项1：</label>
                          <div class="layui-input-inline">
                            <input type="text" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-form-item text-center">
                          <button type="button" class="layui-btn layui-btn-blue">保存</button>
                        </div>
                      </form>
                    </div>
                    <div class="layui-tab-item">
                      智能外呼内容
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="layui-btn nextPageBtn" onclick="nextPage()">继续</button>
      <button type="button" class="layui-btn layui-btn-gray step3Btn" style="display:none;">保存</button>
      <button type="button" class="layui-btn step3Btn" style="display:none;">提交</button>
    </div>
  </div>
  <script id="policyTemplate" type="text/html">
    <div class="layui-row">
      {{#  layui.each(d, function(index, item){ }}
      <div class="layui-col-md4 layui-col-sm4 policy-item">
        <input type="radio" name="policy" value="{{item.value}}" title="{{item.text}}">
      </div>
      {{#  }); }}
    </div>
  </script>
  <!-- 已有用户群模板 -->
  <script id="selectHtml" type="text/html">
    <div class="layui-row layui-col-space10">
      {{#  layui.each(d.list, function(index, item){ }}
      <div class="layui-col-md4 layui-col-sm4 layui-col-xs6">
        <div class="custGroupContent {{d.chooseCustID.indexOf(item.id)>-1?'active':''}} "
          onclick="chooseCust(this,'{{JSON.stringify(item).replace(/"/g, '&quot;')}}')">
          <p class="custTitle">{{item.title}}</p>
          <p class="custGroup-midWrap">
            <span class="custNum">{{item.num}}</span><span class="unit">人</span>
          </p>
          <p class="clearfix">
            <span class="custUser fl"><i class="layui-icon layui-icon-username"></i>{{item.user}}</span>
            <a class="fr" href="javascript:;" onclick="toDetailCust(this,'{{item.title}}')">详情></a>
          </p>
        </div>
      </div>
      {{#  }); }}
    </div>
  </script>
  <script id="productTemplate1" type="text/html">
    <div class="productList">
      {{#  layui.each(d.productList, function(index, item){ }}
      <div class="layui-card productItem {{d.currentProduct.id==item.id?'exclute':''}}"
        onclick="chooseProduct(this,'{{JSON.stringify(item).replace(/"/g, '&quot;')}}',{{index}})">
        <div class="layui-card-body">
          <p class="title">产品{{index+1}}：<span>{{item.title}}</span></p>
          {{# if(item.cust.length==0){ }}
          <div class="choose-cust">
            <i class="layui-icon layui-icon-add-1"></i>
            从右侧选择用户群
          </div>
          {{# } else if(item.cust.length==1){ }}
          <div class="choose-cust choosed text-ellipsis">
            {{item.cust[0].title}}<i class="layui-icon layui-icon-close close-icon"
              onclick="deleteChoosed({{index}},0)"></i>
          </div>
          {{# } else if(item.cust.length==2){ }}
          <div class="choosed-list">
            {{#  layui.each(item.cust, function(i, obj){ }}
            <div class="choose-cust choosed text-ellipsis">
              {{obj.title}}<i class="layui-icon layui-icon-close close-icon"
                onclick="deleteChoosed({{index}},{{i}})"></i>
            </div>
            {{#  }); }}
            <div class="connet">
              <div class="tag" onclick="relationChange(this)">并</div>
              <div class="line"></div>
            </div>
          </div>
          {{# } }}
          {{#  layui.each(item.chnlConfig, function(m, mm){ }}
          <div class="chnl-item">
            <span>{{mm.type}}</span>
            <i class="layui-icon layui-icon-edit" onclick="editChnl({{m}})"></i>
            <i class="layui-icon layui-icon-close" onclick="delChnl({{m}})"></i>
          </div>
          {{#  }); }}
        </div>
      </div>
      {{#  }); }}

    </div>
  </script>
  <script src="../../assets/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: '../../assets/' //静态资源所在路径
      })
      .use(['table', 'laytpl', 'laydate', 'form', 'laypage', 'element', 'upload'], function () {
        var $ = layui.$,
          table = layui.table,
          laydate = layui.laydate,
          form = layui.form,
          laytpl = layui.laytpl,
          element = layui.element,
          upload = layui.upload,
          laypage = layui.laypage;
        // 切换主Tab
        var pageTabIndex = 0;
        element.on('tab(pageTab)', function (data) {
          pageTabIndex = data.index;
          if (pageTabIndex == 0) {
            $('.nextPageBtn').show()
            $('.step3Btn').hide()
            renderPage1()
          } else if (pageTabIndex == 1) {
            $('.nextPageBtn').show()
            $('.step3Btn').hide()
            renderPage2()
          } else if (pageTabIndex == 2) {
            $('.nextPageBtn').hide()
            $('.step3Btn').show()
            renderPage3()
          }
        })
        // 继续
        window.nextPage = function () {
          element.tabChange('pageTab', (pageTabIndex + 1) + '');
        };
        $(function () {
          renderPage1()
        })
        /********************************************** 基本信息区域  **********************************************/
        //  渲染关联政策区域
        function rendPolicyWrap(page) {
          page = page || 1;

          function f(i) { //渲染政策单选区域
            var policyList = []
            //模拟假数据，实际ajax请求
            for (var i = 0; i < 15; i++) {
              policyList.push({
                value: i + '',
                text: '政策' + (Math.random() * 100).toFixed(0)
              })
            }
            var getTpl = policyTemplate.innerHTML,
              view = document.getElementById('choosePolicyWrap');
            laytpl(getTpl).render(policyList, function (html) {
              view.innerHTML = html;
              form.render()
            });
          }
          f(page)
          laypage.render({
            elem: 'policy-laypage',
            limit: 15,
            cur: page,
            count: 50,
            theme: 'common',
            prev: '<em class="layui-icon layui-icon-left"></em>',
            next: '<em class="layui-icon layui-icon-right"></em>',
            jump: function (obj, first) {
              if (!first) {
                f(obj.curr)
              }
            }
          });
        }

        function renderPage1() {
          rendPolicyWrap()
        }
        /********************************************** 目标客户群区域  **********************************************/

        var choosedCustList = [],
          chooseCustID = []; //已选
        var currentProduct = {},
          productList = [{
            id: '1',
            title: '畅越冰激凌不限量198套餐+爱奇艺视频会员',
            cust: [{
              "user": "user-1",
              "title": "畅越1元档",
              "id": '1',
              "date": '2019-12-12'
            }, {
              "user": "user-2",
              "title": "畅越2元档",
              "id": '2',
              "date": '2019-12-12'
            }],
            chnlConfig: [{
              type: '短信',
              data: {

              }
            }, {
              type: '人工外呼',
              data: {

              }
            }]
          }, {
            id: '2',
            title: '畅越冰激凌不限量198套餐+爱奇艺视频会员',
            cust: [{
              "user": "user-3",
              "title": "畅越3元档",
              "id": '3',
              "date": '2019-12-12'
            }],
            chnlConfig: [{
              type: '短信',
              data: {

              }
            }]
          }, {
            id: '3',
            title: '畅越冰激凌不限量198套餐+爱奇艺视频会员',
            cust: []
          }]
        currentProductIndex = null;

        function renderPage2() {
          rendCustWrap()
          renderProductWrap()
        }
        // 渲染已有客户群
        function rendCustWrap(page) {
          page = page || 1;

          function f(i) { //顾客群数据
            var randomData = []
            for (var m = 0; m < 15; m++) {
              randomData.push({
                "num": m,
                "user": "user-" + m,
                "title": "畅越" + m + "元档",
                "id": m + '',
                "date": '2019-12-12'
              })
            }

            var custData = {
              list: randomData,
              chooseCustID: chooseCustID,
            }
            var getTpl = selectHtml.innerHTML,
              selectWrap = document.getElementById('selectWrap');
            laytpl(getTpl).render(custData, function (html) {
              selectWrap.innerHTML = html;
            });
          }
          f(page)
          laypage.render({
            elem: 'cust-laypage',
            limit: 15,
            cur: page,
            count: 50,
            theme: 'common',
            prev: '<em class="layui-icon layui-icon-left"></em>',
            next: '<em class="layui-icon layui-icon-right"></em>',
            jump: function (obj, first) {
              if (!first) {
                f(obj.curr)
              }
            }
          });
        }
        // 渲染产品列表
        function renderProductWrap() {
          var data = {
            productList: productList,
            currentProduct: currentProduct
          }
          var getTpl = productTemplate1.innerHTML,
            selectWrap1 = document.getElementById('productWrap1'),
            selectWrap2 = document.getElementById('productWrap2');
          laytpl(getTpl).render(data, function (html) {
            selectWrap1.innerHTML = html;
            selectWrap2.innerHTML = html;
          });
        }
        //点击产品块
        window.chooseProduct = function (obj, data, index) {
          currentProduct = JSON.parse(data);
          currentProductIndex = index;
          choosedCustList = currentProduct.cust;
          chooseCustID = []
          for (var i = 0; i < currentProduct.cust.length; i++) {
            chooseCustID.push(currentProduct.cust[i].id)
          }
          rendCustWrap()
          renderProductWrap()
        }
        //点击客户群
        window.chooseCust = function (obj, data) {
          if (currentProduct.id) {
            var custData = JSON.parse(data)
            var index = chooseCustID.indexOf(custData.id);
            if (chooseCustID.length < 2) {
              if (index > -1) {
                chooseCustID.splice(index, 1);
                choosedCustList.splice(index, 1)
              } else {
                chooseCustID.push(custData.id);
                choosedCustList.push(custData)
              }
              currentProduct.cust = choosedCustList;
              productList[currentProductIndex].cust = choosedCustList;
            } else {
              layer.msg('最多配置两个客户群')
            }
            rendCustWrap()
            renderProductWrap()
          } else {
            layer.msg('请先选择产品')
          }

        }
        // 删除已选/排除
        window.deleteChoosed = function (pIndex, cIndex) {
          event.stopPropagation()
          if (currentProduct.id) {
            if (pIndex == currentProductIndex) {
              productList[pIndex].cust.splice(cIndex, 1)
              renderProductWrap()
              currentProduct.cust.splice(cIndex, 1)
              choosedCustList = currentProduct.cust;
              chooseCustID = []
              for (var i = 0; i < currentProduct.cust.length; i++) {
                chooseCustID.push(currentProduct.cust[i].id)
              }
              rendCustWrap()
            } else {
              layer.msg('请操作选中产品')
            }
          } else {
            layer.msg('请先选中产品')
          }
        }
        //切换关系
        window.relationChange = function (obj) {
          event.stopPropagation()
          if ($(obj).html() == '非') {
            $(obj).html('并')
          } else {
            $(obj).html('非')
          }
        }

        window.toDetailCust = function (obj, title) {
          event.stopPropagation();
          layer.open({
            title: title + '详情查看',
            content: title + '详情查看',
          });
        }
        /********************************************** 执行触点区域  **********************************************/
        laydate.render({
          elem: '#startDate',
        })
        laydate.render({
          elem: '#endDate',
        })
        laydate.render({
          elem: '#startDate2',
          type: 'time',
          format: 'HH:mm',
          theme: 'noSecond'
        });
        laydate.render({
          elem: '#endDate2',
          type: 'time',
          format: 'HH:mm',
          theme: 'noSecond'
        });

        window.delChnl = function (index) {
          event.stopPropagation()
          if (currentProduct.id) {
            productList[currentProductIndex].chnlConfig.splice(index, 1)
            renderProductWrap()
            layer.msg('delChnl第' + index)
          } else {
            layer.msg('请先选择商品')
          }
        }
        window.editChnl = function (index) {
          event.stopPropagation()
          if (currentProduct.id) {
            //讲配置数据渲染到具体渠道form表单中去
            layer.msg('eidtChnl第' + index)
          } else {
            layer.msg('请先选择商品')
          }
        }

        function renderPage3() {
          renderProductWrap()
        }
      })
  </script>
</body>

</html>