<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>策略管理</title>
  <link rel="stylesheet" href="../../assets/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/index.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/page.css" media="all" />
</head>

<body>
  <div class="layui-fluid common-page">
    <div class="layui-card">
      <div class="layui-card-body">
        <form class="layui-form layui-row" wid110>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label">策略名称：</label>
            <div class="layui-input-block">
              <input type="text" name="name" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label">更新时间：</label>
            <div class="layui-input-block">
              <input type="text" name="updateDate" id="updateDate" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
              <select name="status" id="">
                <option value="1">全部</option>
              </select>
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label">创建人：</label>
            <div class="layui-input-block">
              <input type="text" name="creator" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
              <button class="layui-btn" type="button">查询</button> </div>
          </div>
        </form>
        <table id="table1"></table>
      </div>
    </div>
  </div>
  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs">失效</a>
    <a class="layui-btn layui-btn-xs">暂停</a>
  </script>
  <script src="../../assets/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: '../../assets/' //静态资源所在路径
      })
      .use(['table', 'laytpl', 'laydate', 'form', 'laypage', 'element', 'upload'], function () {
        var form = layui.form,
          table = layui.table;
        table.render({
          elem: '#table1',
          page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
            layout: ['prev', 'page', 'next', 'skip'],
            theme: 'common', //自定义分页布局
            limit: 10
          },
          cols: [
            [

              {
                field: 'name',
                title: '策略名称',
                width: '10%'
              },
              {
                field: 'desc',
                title: '策略描述'
              },

              {
                field: 'creator',
                title: '创建人',
                width: '10%'
              },
              {
                field: 'updator',
                title: '更新人',
                width: '10%'
              },
              {
                field: 'status',
                title: '状态',
                width: '10%'
              },
              {
                field: 'updateDate',
                title: '更新时间',
                width: '15%'
              },

              {
                title: '操作',
                toolbar: '#barDemo',
              }
            ]
          ],
          data: [{
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            }, {
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            },
            {
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            },
            {
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            }, {
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            },
            {
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            },
            {
              name: '931955',
              desc: 'qwex',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            },
            {
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            },
            {
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            }, {
              name: '931955',
              desc: '',
              updator: '10000',
              creator: 'SUPERUSER',
              updateDate: '2019-10-22 00:00:00',
              status: '待审批'
            }
          ]
        })
      })
  </script>
</body>

</html>