/* 全局 */
html,
body {
  color: #666;
  font-size: 14px;
  font-family: "Microsoft YaHei", "微软雅黑";

}

i {
  font-style: normal;
}

*[template],
.layadmin-tabsbody-item {
  display: none;
}

*[lay-href],
*[layadmin-event] {
  cursor: pointer;
}

/* 系统 */
::-webkit-input-placeholder {
  color: #ccc
}

.layui-bg-white {
  background-color: #fff;
}

.layadmin-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px -15px;
  font-size: 30px;
  color: #c2c2c2;
}

.layadmin-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.layadmin-link {
  color: #029789 !important;
}

.layadmin-link:hover {
  opacity: 0.8;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* 浮动 */
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}



/*********************************************** header ***********************************************/
.layui-layout-admin .layui-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 90px; */
  height: 60px;
  /* border-bottom: 1px solid #d9d9d9; */
  box-sizing: border-box;
  background-color: #c30621;
  color: #fff;
}

/* logo */
.layui-layout-admin .layui-header .page-logo {
  width: 210px;
  /* width: 310px; */
  background: #c30621;
  /* font-size: 24px; */
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  /* height: 90px;
  line-height: 90px; */
  height: 60px;
  line-height: 60px;
}

.page-logo .logo-icon {
  background: url('../images/logo.png') no-repeat center;
  width: 80px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

/* common */
.layui-header a,
.layui-header a cite,
.layui-header a span {
  color: #ffc6c6;
  font-size: 16px;
}

.layui-header .layui-nav-item.layui-this a span,
.layui-header a:hover span {
  color: #fff;
}

/* header-left */
.layui-layout-admin .layui-header .layui-layout-left {
  padding: 0 10px;
}

.layui-layout-admin .layui-header .layui-layout-left a {
  padding: 0;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-item {
  /* height: 90px;
  line-height: 90px; */
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

.layui-layout-admin .layui-header .layui-layout-left .layui-nav-item {
  border-right: 1px solid #eb4a61;
  padding: 0 20px;
}

.layui-layout-admin .layui-header .layui-layout-left .layui-nav-item.layui-this {
  background: #d72a43;
}

.layui-layout-admin .layui-header .layui-layout-left .layui-nav-item.layui-this:after {
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0;
  margin-left: -5px;
  background-color: #d72a43;
  border: 10px solid transparent;
  border-bottom-color: #ececec;
}


.layui-layout-left .nav-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url('../images/header/header_icon.png') no-repeat;
  vertical-align: middle;
}

.layui-layout-left .nav-icon.navHome {
  background-position: -49px -52px;
}

.layui-layout-left .layui-this .nav-icon.navHome {
  background-position: -10px -52px;
}

.layui-layout-left .nav-icon.nav1 {
  background-position: -138px -10px;
}


.layui-layout-left .layui-this .nav-icon.nav1 {
  background-position: -92px -10px;
}

.layui-layout-left .nav-icon.nav2 {
  background-position: -10px -10px;
}

.layui-layout-left .layui-this .nav-icon.nav2 {
  background-position: -49px -10px;
}

.layui-layout-left .nav-icon.nav3 {
  background-position: -49px -95px;
}

.layui-layout-left .layui-this .nav-icon.nav3 {
  background-position: -10px -95px;
}

.layui-layout-left .nav-icon.nav4 {
  background-position: -49px -137px;
}

.layui-layout-left .layui-this .nav-icon.nav4 {
  background-position: -10px -137px;
}

.layui-layout-left .nav-icon.nav5 {
  background-position: -138px -95px;
}

.layui-layout-left .layui-this .nav-icon.nav5 {
  background-position: -92px -95px;
}

.layui-layout-left .nav-icon.nav6 {
  background-position: -138px -52px;
}

.layui-layout-left .layui-this .nav-icon.nav6 {
  background-position: -92px -52px;
}

.layui-layout-left .layui-nav-child {
  background: #d72a43;
  padding: 0;
  border: 0;
  top: 60px;
  border-radius: 0;
}

.layui-layout-left .layui-nav-child dd {
  padding: 20px;
}

.layui-layout-left .layui-nav-child a:hover {
  background-color: inherit;
  color: #fff;
}


.layui-layout-left .layui-nav-child dd.layui-this a,
.layui-layout-left .layui-nav-child dd.layui-this {
  background: #d72a43;
  color: #fff;
}

.layui-layout-admin .layui-header .layui-nav-bar {
  display: none;
}

/* header-right */
.layui-layout-admin .layui-layout-right {
  padding: 0 40px;
  font-size: 16px;
}

.layui-layout-right .layui-nav-child {
  left: auto;
  right: 0;
  padding: 0;
  color: #333;
}

.layui-header .layui-layout-right a,
.layui-header .layui-layout-right a site {
  color: #333;
  font-size: 14px;
}


.layui-header .layui-layout-right .layui-nav-child dd.layui-this a,
.layui-header .layui-layout-right .layui-nav-child dd.layui-this {
  background-color: #f4f4f4;
  color: #333;
}

/* 个人信息 */
.layui-layout-right .user-info {
  font-size: 14px;
  color: #333;
}

.layui-layout-right .user-info li {
  line-height: 24px;
}

.layui-layout-right .user-icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}


.layui-layout-right .layui-nav-child .info-wrap {
  padding: 20px;
}

.layui-layout-right .user-top .user-icon {
  width: 50px;
  height: 50px;
}

.layui-layout-right .user-top span {
  display: inline-block;
  vertical-align: middle;
}

.layui-layout-right .user-top cite {
  display: block;
  font-style: normal;
}

.layui-layout-right .edit-wrap {
  background: #f4f4f4;
}

.layui-layout-right hr {
  margin: 0;
}

.layui-layout-right .edit-wrap a {
  display: inline-block;
}

/* 配置 */
.layui-layout-admin .layui-layout-right .config-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  background: url("../images/header/header-right.png") no-repeat;
  background-position: -56px -56px;
  vertical-align: middle;
}

/* 公告 */
.layui-layout-admin .layui-layout-right .msg-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  background: url("../images/header/header-right.png") no-repeat center;
  background-position: -56px -14px;
  vertical-align: middle;
}

.layui-layout-admin .layui-layout-right .layui-badge {
  border-radius: 50%;
  font-size: 12px;
  top: 12px;
  left: 34px;
}

.layui-layout-right .message-text {
  font-size: 16px;
  color:
    #333;
  line-height: 24px;
  font-weight: 400;
  text-indent: 30px;
}

/*********************************************** side ***********************************************/
.layui-layout-admin .layui-side-menu {
  /* width: 310px;
  top: 90px; */
  width: 210px;
  top: 60px;
  z-index: 1001;
  background: #323232;
  color: #c3c3c3;
}

.layui-layout-admin .layui-side-menu .layui-nav-bar {
  display: none;
}

.layui-side-menu .layui-side-scroll {
  /* width: 320px; */
  width: 220px;
}

.layui-side-menu .layui-nav {
  /* width: 310px; */
  width: 210px;
  background: none;
}

.layui-side-menu .layui-nav .layui-nav-itemed>a {
  background: #4d4d4d;
}

.layui-side-menu .layui-nav .layui-nav-itemed>.layui-nav-child {
  background: #393939;
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a {
  background: #393939;
  color: #fff;
}

.layui-nav-tree li.layui-this,
.layui-nav-tree li.layui-this>a,
.layui-nav-tree li.layui-this>a:hover {
  background-color: #393939;
  color: #fff;
}


.layui-side-menu .layui-nav .layui-nav-item a {
  height: 40px;
  line-height: 40px;
  padding: 10px 0 10px 60px;
}

.layui-side-menu .layui-nav .layui-nav-more {
  left: 20px;
}

/*********************************************** 页面标签 ***********************************************/

.layadmin-pagetabs {
  position: fixed;
  /* top: 90px; */
  top: 60px;
  right: 0;
  z-index: 999;
  /* height: 60px; 
  line-height: 50px;*/
  height: 50px;
  line-height: 40px;
  padding: 10px 80px 0 40px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  background: #ececec;
}

.layadmin-pagetabs .layui-breadcrumb {
  padding: 0 15px;
}

.layadmin-pagetabs .layadmin-tabs-control {
  position: absolute;
  top: 10px;
  width: 50px;

  height: 40px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
  box-sizing: border-box;
  border-left: 1px solid #f6f6f6;
}

.layadmin-pagetabs .layadmin-tabs-control:hover {
  background-color: #f6f6f6;
}

.layadmin-pagetabs .layui-icon-prev {
  left: 0;
  border-left: none;
  border-right: 0;
}

.layadmin-pagetabs .layui-icon-next {
  right: 40px;
}

.layadmin-pagetabs .layui-icon-down {
  right: 0;
}

.layadmin-pagetabs .layui-tab {
  margin: 0;
  overflow: hidden;
  background: #ececec;
}

.layadmin-pagetabs .layui-tab-title {
  /* height: 50px; */
  height: 40px;
  border: none;
}

.layadmin-pagetabs .layui-tab-title li {
  min-width: 0;
  /* line-height: 50px; */
  line-height: 40px;
  max-width: 160px;
  text-overflow: ellipsis;
  padding-right: 40px;
  overflow: hidden;
  vertical-align: top;
}

.layadmin-pagetabs .layui-tab-title li:first-child {
  padding-right: 15px;
}

.layadmin-pagetabs .layui-tab-title li:first-child .layui-tab-close {
  display: none;
}

.layadmin-pagetabs .layui-tab-title li .layui-tab-close {
  position: absolute;
  right: 8px;
  top: 50%;
  margin: -7px 0 0 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 12px;
}

.layadmin-pagetabs .layui-tab-title li:after {
  display: none;
}

.layadmin-pagetabs .layui-tab-title li:hover,
.layadmin-pagetabs .layui-tab-title li.layui-this {
  background-color: #fff;
}

.layui-side-menu {
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05);
}

.layadmin-tabs-select.layui-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: 0 0
}

.layadmin-tabs-select.layui-nav .layui-nav-child {
  top: 40px;
  left: auto;
  right: 0;
}

.layadmin-pagetabs .layui-icon-down {
  right: 0;
}

.layadmin-tabs-select.layui-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: none;
}

.layadmin-tabs-select.layui-nav .layui-nav-item {
  line-height: 40px;
}

.layadmin-tabs-select.layui-nav .layui-nav-item>a {
  height: 40px;
}

.layadmin-tabs-select.layui-nav .layui-nav-item a {
  color: #666;
}

.layadmin-tabs-select.layui-nav .layui-nav-child {
  top: 40px;
  left: auto;
  right: 0;
}

.layadmin-tabs-select.layui-nav .layui-nav-child dd.layui-this,
.layadmin-tabs-select.layui-nav .layui-nav-child dd.layui-this a {
  background-color: #f2f2f2 !important;
  color: #333;
}

.layadmin-tabs-select.layui-nav .layui-nav-more,
.layadmin-tabs-select.layui-nav .layui-nav-bar {
  display: none;
}

/*********************************************** body ***********************************************/

.layui-layout-admin .layui-body {
  position: fixed;
  /* top: 150px; */
  top: 110px;
  bottom: 0;
}

.layadmin-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ebebec;

}

.layui-layout-admin .layui-body .layadmin-tabsbody-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #ebebeb;
}

/*********************************************** layout ***********************************************/
.layui-layout-admin .layui-layout-left,
.layadmin-pagetabs,
.layui-layout-admin .layui-body,
.layui-layout-admin .layui-footer {
  /* left: 310px; */
  left: 210px;
}



/*********************************************** 侧边收缩模式 ***********************************************/
.layadmin-side-shrink .layui-side {
  left: 0;
  width: 0;
}

.layadmin-side-shrink .layui-layout-admin .layui-layout-left {
  /* left: 310px; */
  left: 210px;
}

.layadmin-side-shrink .layadmin-pagetabs,
.layadmin-side-shrink .layui-layout-admin .layui-body,
.layadmin-side-shrink .layui-layout-admin .layui-footer {
  left: 0px;
}

.layadmin-side-shrink .layadmin-iframe {
  width: 90%;
  margin: 0 auto;
}


/*********************************************** 轮播 ***********************************************/

.layui-carousel>[carousel-item]>*,
.layui-carousel>[carousel-item] {
  background: #fff;
}

.layui-carousel .layui-carousel-ind {
  position: absolute;
  top: auto;
  bottom: 0;
}

.layui-carousel .layui-carousel-ind ul {
  background: none;
}

.layui-carousel .layui-carousel-ind li {
  height: 3px;
  background: #e3e3e3;
  border-radius: 0;
}

.layui-carousel .layui-carousel-ind li.layui-this {
  background: #61bee6;
  width: 26px;
}




/*********************************************** 按钮 ***********************************************/

.layui-btn {
  background-image: -moz-linear-gradient(-35deg, rgb(244, 152, 39) 0%, rgb(255, 114, 57) 100%);
  background-image: -webkit-linear-gradient(-35deg, rgb(244, 152, 39) 0%, rgb(255, 114, 57) 100%);
  background-image: -ms-linear-gradient(-35deg, rgb(244, 152, 39) 0%, rgb(255, 114, 57) 100%);
  background-image: linear-gradient(-35deg, rgb(244, 152, 39) 0%, rgb(255, 114, 57) 100%);
  border-radius: 3px;
  border: 0;
}

.layui-btn.layui-btn-primary {
  background: #e5e5e5;
}

.layui-btn-primary:hover {
  border-color: inherit;
}

/* 搜索按钮 */
.search-btn-wrap {
  width: 200px;
  position: relative;
}

.search-btn-wrap.layui-inline {
  margin: 0;
}

.search-btn-wrap .layui-icon {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  line-height: 36px;
}

/*********************************************** 表格 ***********************************************/
.layui-table-view {
  border: 0;
}

.layui-table-view .layui-table-box {
  border: 1px solid #e5e5e5;
}

.layui-table-view .layui-table {
  width: 100% !important;
}

.layui-table-body {
  overflow-x: hidden;
}

/*********************************************** 分页 ***********************************************/

/*  常规分页 */

.layui-laypage-common a,
.layui-laypage-common span,
.layui-table-page .layui-laypage-common a,
.layui-table-page .layui-laypage-common span {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 5px;
  background: #fff;
}

.layui-laypage-common .layui-laypage-curr .layui-laypage-em,
.layui-laypage-common .layui-laypage-curr em,
.layui-table-page .layui-laypage-common .layui-laypage-curr .layui-laypage-em,
.layui-table-page .layui-laypage-common .layui-laypage-curr em {
  background-color: #e5e5e5 !important;
  color: #333 !important;
}

.layui-laypage-common a:hover,
.layui-table-page .layui-laypage-common a:hover {
  color: #333 !important;
}

.layui-laypage-common .layui-laypage-skip,
.layui-table-page .layui-laypage-common .layui-laypage-skip {
  border: 0;
  background: inherit;
}

.layui-laypage-common .layui-laypage-skip .layui-laypage-btn,
.layui-table-page .layui-laypage-common .layui-laypage-skip .layui-laypage-btn {
  display: none;
}

/* 表格分页 */
.layui-table-page {
  border: 0;
  text-align: center;
}


/* 简易分页 */
.layui-laypage-simple a,
.layui-laypage-simple span {
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: #CED0DA;
  border-radius: 50%;
  font-size: 0;
  margin: 0 5px;
}

.layui-laypage-simple .layui-laypage-curr .layui-laypage-em {
  background-color: #353C48;
  border-radius: 50%;
}

.layui-laypage-simple .layui-laypage-prev,
.layui-laypage-simple .layui-laypage-next {
  width: 36px;
  height: 36px;
  background: #fff;
  left: 36px;
  border-radius: 50% !important;
}

.layui-laypage-simple .layui-laypage-next em,
.layui-laypage-simple .layui-laypage-prev em {
  font-size: 16px;
  color: #333;
  line-height: 36px;

}

/*********************************************** date ***********************************************/

/*不显示秒*/

.laydate-theme-noSecond .layui-laydate-content>.layui-laydate-list>li {
  width: 50%
}

.laydate-theme-noSecond .layui-laydate-content>.layui-laydate-list>li:last-child {
  display: none;
}

/*********************************************** form ***********************************************/
.layui-form-label.layui-required:before {
  content: "*";
  color: red;
  display: inline-block;
  margin-right: 2px;
}

.layui-row .layui-form-item {
  clear: none;
}

.layui-form .tip {
  font-size: 14px;
  line-height: 30px;
  color: #df1818;
}

.layui-input,
.layui-textarea {
  border-color: #D2D2D2;
  border-radius: 3px;
}



.layui-input:disabled,
.layui-textarea:disabled {
  background: #eeeeee;
  cursor: not-allowed;
}

.layui-form-select dl dd.layui-this {
  background: #edeff3;
  color: #333;
}

.layui-form-label {
  color: #333;
}

.layui-form-radio div {
  font-size: 14px;
  color: #666;
  text-decoration: underline;
}

.layui-form-radio>i {
  font-size: 14px;
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
  color: #c8c7c7;
}

/* 边框风格radio */
.box-radio .layui-form-radio {
  border: 1px solid #d2d2d2;
  padding: 0 20px;
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
}

.box-radio .layui-form-radio div {
  text-decoration: none;
}

.box-radio .layui-form-radio div::before {
  content: '●';
  margin-right: 5px;
  color: #bababa;
  font-size: 12px;
}

.box-radio .layui-form-radio i {
  display: none;
}

.box-radio .layui-form-radioed {
  background: #fff;
  border-color: #ec6c3f;
}

.box-radio .layui-form-radioed div {
  color: #ec6c3f;
}

.box-radio .layui-form-radioed div::before {
  content: "✓";
  color: #ec6c3f;
  font-size: 14px;
}

/*没有图标，按钮风格 */
.noIcon-radio .layui-form-radio i,
.noIcon-radio .layui-form-radio div::before {
  display: none;
}

.noIcon-radio .layui-form-radio {
  border: 1px solid #d2d2d2;
  padding: 0 20px;
  border-radius: 5px;
  line-height: 32px;
  font-size: 14px;
}

.noIcon-radio .layui-form-radio div {
  text-decoration: none;
}

.noIcon-radio .layui-form-radioed {
  background: #ec6c3f;
  border-color: #ec6c3f;
}

.noIcon-radio .layui-form-radioed div {
  color: #fff;
}


/* checkbox */
.layui-form-checked[lay-skin=primary] i {
  border-color: #f87a25;
  background-color: #f87a25;
}

.layui-form-checkbox[lay-skin=primary]:hover i {
  border-color: #f87a25;
}

/* 边框风格checkbox */
.layui-form-item .layui-form-checkbox[lay-skin=box] {
  border: 1px solid #d2d2d2;
  padding: 0;
  border-radius: 5px;
  height: 36px;
  line-height: 34px;
}

.layui-form-item .layui-form-checkbox[lay-skin=box] span {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0;
  padding: 0 20px;
  border-radius: 5px;
  position: relative;
}

.layui-form-item .layui-form-checkbox[lay-skin=box] span::before {
  content: '●';
  margin-right: 5px;
  color: #bababa;
  font-size: 12px;
}

.layui-form-item .layui-form-checkbox[lay-skin=box] i {
  display: none;
}

.layui-form-item .layui-form-checked[lay-skin=box],
.layui-form-item .layui-form-checked[lay-skin=box]:hover {
  background: #fff;
  border-color: #ec6c3f;
}

.layui-form-item .layui-form-checked[lay-skin=box] span,
.layui-form-item .layui-form-checked[lay-skin=box]:hover span {
  color: #ec6c3f !important;
}

.layui-form-item .layui-form-checked[lay-skin=box] span::before {
  content: "✓";
  color: #ec6c3f;
  font-size: 14px;

}

.layui-form[wid100] .layui-form-label {
  width: 100px;
}

.layui-form[wid100] .layui-input-block {
  margin-left: 130px;
}

.layui-form[wid110] .layui-form-label {
  width: 110px;
}

.layui-form[wid110] .layui-input-block {
  margin-left: 140px;
}

.layui-form[wid140] .layui-form-label {
  width: 140px;
}

.layui-form[wid140] .layui-input-block {
  margin-left: 170px;
}

@media screen and (max-width: 450px) {
  .layui-form[wid100] .layui-form-item .layui-input-inline {
    margin-left: 132px;
  }

  .layui-form[wid100] .layui-form-item .layui-input-inline+.layui-form-mid {
    margin-left: 130px;
  }

  .layui-form[wid110] .layui-form-item .layui-input-inline {
    margin-left: 142px;
  }

  .layui-form[wid110] .layui-form-item .layui-input-inline+.layui-form-mid {
    margin-left: 140px;
  }

  .layui-form[wid140] .layui-form-item .layui-input-inline {
    margin-left: 172px;
  }

  .layui-form[wid140] .layui-form-item .layui-input-inline+.layui-form-mid {
    margin-left: 170px;
  }
}

.layui-form-item .layui-input-company {
  width: auto;
  padding-right: 10px;
  line-height: 38px;
}



/*********************************************** layer ***********************************************/
/* 遮罩 */
.layadmin-body-shade {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1000;
}


.common-layer .layui-layer-title {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  background-color: #fff;
}

.common-layer .layui-layer-setwin {
  top: 24px;
}

.common-layer .layui-layer-content {
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}

.common-layer .layui-layer-btn,
.common-layer.layui-layer-iframe .layui-layer-btn,
.common-layer.layui-layer-page .layui-layer-btn {
  padding: 0 20px;
}

.common-layer .layui-layer-btn a {
  height: 40px;
  line-height: 40px;
  border: 0;
  min-width: 120px;
  text-align: center;
  border-radius: 5px;
  padding: 0;
  margin: 10px 5px;
}

.common-layer .layui-layer-btn .layui-layer-btn0 {
  background-color: #ec6c3f;
  color: #fff;
}

.common-layer .layui-layer-btn .layui-layer-btn1 {
  background-color: #f7f7f7;
  color: #666666;
}

/*********************************************** tab ***********************************************/
.layui-tab {
  position: relative;
}

/* 简约风格 */
.layui-tab-brief .layui-tab-title {
  height: 42px;
  border: 0;
}

.layui-tab-brief .layui-tab-title li {
  margin: 0 15px;
  padding: 0;
  line-height: 42px;
}

.layui-tab-brief .layui-tab-title li.layui-this {
  color: #ec6c3f;
}

.layui-tab-brief .layui-tab-title .layui-this:after {
  height: 43px;
  border-color: #ec6c3f;
}

.layui-tab-brief .layui-tab-content {
  padding: 20px 0;
}


/*********************************************** layui-card ***********************************************/

.layui-card {
  border: 1px solid #D2D2D2;
  border-radius: 5px;
}

.layui-card-header {
  border-bottom: 0;
  position: relative;
  font-size: 18px;
  padding: 5px 20px;
}

.layui-card-header .layui-icon {
  line-height: initial;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
}

.layui-card-body {
  padding: 10px 20px;
}

/* 卡片风格 */
.layui-tab-card {}

.layui-tab-card>.layui-tab-title {
  background: #fff;
  height: 50px;
}

.layui-tab-card.tab2>.layui-tab-title li {
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 50px;
}



.layui-tab-card>.layui-tab-title .layui-this {
  color: #ec6c3f;
}

.layui-tab-card .layui-tab-title .layui-this:after {
  height: 51px;
}

.layui-tab-card .layui-tab-content {
  background: #fff;
}

.layui-tab-card .layui-tab-content .oversizeContent {
  position: relative;
  left: -10%;
  width: 110%;
}

/*********************************************** 面板 ***********************************************/
/* 折叠面板 */
.common-collapse {
  border: 0;
}

.common-collapse .layui-colla-content,
.common-collapse .layui-colla-item {
  border: 0;
  position: relative;
}

.common-collapse .layui-colla-item {
  display: inline-block;
  width: 100%;
}

.common-collapse .layui-colla-content {
  padding-left: 35px;
}

.common-collapse .layui-colla-title {
  background: #fff;
  display: inline-block;
  height: 36px;
  line-height: 36px;
}

.colla-title-text {
  color: #2b7dd2;
}


/*********************************************** 统一动画 ***********************************************/

.layui-layout-admin .layui-header .layui-nav .layui-nav-item,
.layui-layout-admin .layui-layout-left,
.layadmin-pagetabs,
.layui-layout-admin .layui-body,
.layui-layout-admin .layui-footer,
.layui-layout-admin .layui-side,
.layui-layout-admin .layui-logo,
.layui-layout-admin .layui-header .layui-layout-right {
  transition: all .3s;
  -webkit-transition: all .3s;
}

/*********************************************** other ***********************************************/

@media screen and (max-width: 768px) {

  /* 导航 */
  .layui-body .layui-nav .layui-nav-item {
    display: block;
  }

  /* 主体容器 */
  .layui-layout-admin .layui-body .layadmin-tabsbody-item {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }
}