<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>政策白名单配置</title>
    <link
      rel="stylesheet"
      href="../../assets/layui/css/layui.css"
      media="all"
    />
    <link rel="stylesheet" href="../../assets/style/index.css" media="all" />
    <link rel="stylesheet" href="../../assets/style/page.css" media="all" />
  </head>
  <body>
    政策白名单配置
    <script src="../../assets/layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../assets/' //静态资源所在路径
        })
        .extend({
          index: 'lib/index' //主入口模块
        })
        .use(['index'])
    </script>
  </body>
</html>
