<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>话术详情</title>
  <link rel="stylesheet" href="../../assets/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/index.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/page.css" media="all" />
</head>

<body>
  <div class="layui-fluid common-page talkingPage">
    <div class="layui-card">
      <div class="layui-card-body">
        <div id="contentWrap"></div>
      </div>
    </div>
  </div>
  <script id="contentTemplate" type="text/html">
    <p class="page-title">{{d.templateName}}</p>
    <div>{{d.templateHead}}</div>
    <form class="layui-form contentWrap" lay-filter="templateForm">
      {{#  layui.each(d.contentData, function(index, item){ }}
      <div class="layui-form-item ">
        <label
          class="layui-form-label {{item.isRequired=='true'?'layui-required':''}}">{{item.itemCode}}、{{item.itemDesc}}</label>
        {{# if(item.itemType=='radio'){ }}
        <div class="layui-input-block ">
          {{#  layui.each(item.options, function(i, obj){ }}
          <input type="radio" name="radio{{index}}" value="{{obj.optionId}}" title="{{obj.optionDesc}}"
            data-itemid="{{item.itemId}}" />
          {{#  }); }}
        </div>
        {{# }else if(item.itemType=='checkbox'){ }}
        <div class=" layui-input-block ">
          {{#  layui.each(item.options, function(i, obj){ }}
          <input type="checkbox" name="check{{index}}[{{obj.optionId}}]" value="{{obj.optionId}}" lay-skin="primary"
            title="{{obj.optionDesc}}" data-itemid="{{item.itemId}}" />
          {{#  }); }}
        </div>
        {{# }else if(item.itemType=='select'){ }}
        <div class="layui-input-block ">
          <select data-itemid="{{item.itemId}}" name="select{{index}}">
            <option value="">请选择</option>
            {{#  layui.each(item.options, function(i, obj){ }}
            <option value="{{obj.optionId}}">{{obj.optionDesc}}</option>
            {{#  }); }}
          </select>
        </div>
        {{# }else if(item.itemType=='input'){ }}
        <div class=" layui-input-block ">
          <input type="text" class="layui-input" name="input{{index}}">
        </div>
        {{# }else if(item.itemType=='textarea'||item.itemType=='desc'){ }}
        <div class=" layui-input-block ">
          <textarea class="layui-textarea" name="textarea{{index}}"></textarea>
        </div>
        {{# } }}
      </div>
      <div id="childWrap{{item.itemId}}" class="childWrap"></div>
      {{#  }); }}
    </form>
    <div>{{d.templateEnd}}</div>
    <!-- <div class="layui-progress">
      <div class="layui-progress-bar" lay-percent="10%"></div>
    </div> -->
  </script>
  <script id="childTemplate" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="layui-form-item ">
      <label
        class="layui-form-label {{item.isRequired=='true'?'layui-required':''}}">{{item.itemCode}}、{{item.itemDesc}}</label>
      {{# if(item.itemType=='radio'){ }}
      <div class="layui-input-block ">
        {{#  layui.each(item.options, function(i, obj){ }}
        <input type="radio" name="child-radio{{index}}" value="{{obj.optionId}}" title="{{obj.optionDesc}}"
          data-itemid="{{item.itemCode}}" />
        {{#  }); }}
      </div>
      {{# }else if(item.itemType=='checkbox'){ }}
      <div class=" layui-input-block ">
        {{#  layui.each(item.options, function(i, obj){ }}
        <input type="checkbox" name="child-check{{index}}[{{obj.optionId}}]" value="{{obj.optionId}}" lay-skin="primary"
          title="{{obj.optionDesc}}" data-itemid="{{item.itemCode}}" />
        {{#  }); }}
      </div>
      {{# }else if(item.itemType=='select'){ }}
      <div class="layui-input-block ">
        <select data-itemid="{{item.itemCode}}">
          <option value="">请选择</option>
          {{#  layui.each(item.options, function(i, obj){ }}
          <option value="{{obj.optionId}}">{{obj.optionDesc}}</option>
          {{#  }); }}
        </select>
      </div>
      {{# }else if(item.itemType=='input'){ }}
      <div class=" layui-input-block ">
        <input type="text" class="layui-input">
      </div>
      {{# }else if(item.itemType=='textarea'||item.itemType=='desc'){ }}
      <div class=" layui-input-block ">
        <textarea class="layui-textarea"></textarea>
      </div>
      {{# } }}
    </div>
    {{#  }); }}
  </script>

  <script src="../../assets/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: '../../assets/' //静态资源所在路径
      })
      .use(['laydate', 'form', 'layer', 'laytpl', 'element'], function () {
        var $ = layui.$,
          laydate = layui.laydate,
          form = layui.form,
          layer = layui.layer,
          laytpl = layui.laytpl,
          element = layui.element;
        var templateData = {}
        // 将问题的转换成树形结构，方便显/隐展示
        function buildTreeData(list) {
          let temp = {};
          let tree = {};
          let arr = []
          for (let i in list) {
            temp[list[i].itemId] = list[i];
          }
          for (let i in temp) {
            if (temp[i].dependItemCode) {
              if (!temp[temp[i].dependItemCode].children) {
                temp[temp[i].dependItemCode].children = [];
              }
              temp[temp[i].dependItemCode].children.push(temp[i]);
            } else {
              tree[temp[i].itemId] = temp[i];
            }
          }
          for (let i in tree) {
            arr.push(tree[i])
          }
          return arr;
        }
        //获取数据
        function getData() {
          templateData = {
            "createDate": 1578067200000,
            "creater": "SUPERUSER",
            "eparchCode": "0020",
            "saleType": "",
            "templateCode": 1000030,
            "templateContent": [{
                "createStaffId": "SUPERUSER",
                "dependItemCode": "",
                "dependOptionId": "",
                "eparchyCode": "0020",
                "isRequired": "true",
                "itemCode": "1",
                "itemDesc": "话术模板新增问题",
                "itemGrade": "1",
                "itemId": 1000020,
                "itemStatus": "1",
                "itemType": "radio",
                "options": [{
                  "itemId": 1000020,
                  "optionDesc": "话术模板新增问题选项1",
                  "optionId": 0
                }, {
                  "itemId": 1000020,
                  "optionDesc": "话术模板新增问题选项2",
                  "optionId": 1
                }],
                "templateCode": 1000037
              }, {
                "createStaffId": "SUPERUSER",
                "dependItemCode": "1000020",
                "dependOptionId": "0",
                "eparchyCode": "0020",
                "isRequired": "false",
                "itemCode": "2",
                "itemDesc": "话术模板新增问题2",
                "itemGrade": "2",
                "itemId": 1000021,
                "itemStatus": "1",
                "itemType": "checkbox",
                "options": [{
                  "itemId": 1000021,
                  "optionDesc": "话术模板新增问题2选项1",
                  "optionId": 0
                }, {
                  "itemId": 1000021,
                  "optionDesc": "话术模板新增问题2选项2",
                  "optionId": 1
                }],
                "templateCode": 1000037
              },
              {
                "createStaffId": "SUPERUSER",
                "dependItemCode": "1000020",
                "dependOptionId": "0",
                "eparchyCode": "0020",
                "isRequired": "false",
                "itemCode": "3",
                "itemDesc": "话术模板新增问题3",
                "itemGrade": "2",
                "itemId": 1000022,
                "itemStatus": "1",
                "itemType": "input",
                "templateCode": 1000037
              }
            ],
            "templateEnd": "<p><u>测试新增</u></p>",
            "templateHead": "<p><u>测试新增</u></p>",
            "templateName": "测试新增",
            "templateState": "2",
            "updateDate": 1578067200000
          }
          //问题列表，模拟数据
          // templateData.contentData = buildTreeData(JSON.parse(templateData.templateContent))
          templateData.contentData = buildTreeData(templateData.templateContent)
        }
        // 渲染问题区域
        function renderContent() {
          var getTpl = contentTemplate.innerHTML,
            selectWrap = document.getElementById('contentWrap');
          laytpl(getTpl).render(templateData, function (html) {
            selectWrap.innerHTML = html;
            form.render()
            element.render()

          });
        }
        // 渲染二级问题区域
        function renderChildContent(data, code) {
          var getTpl = childTemplate.innerHTML,
            selectWrap = document.getElementById('childWrap' + code);
          laytpl(getTpl).render(data, function (html) {
            selectWrap.innerHTML = html;
            form.render()
          });
        }

        form.on('select', function (data) {
          var code = $(data.elem).data('itemid')
          renderChild(code, [data.value])
          getProgress()

        });
        var checkboxArr = []
        form.on('checkbox', function (data) {
          var code = $(data.elem).data('itemid')
          if (data.elem.checked) {
            checkboxArr.push(data.value)
          } else {
            checkboxArr.splice(checkboxArr.indexOf(data.value), 1)
          }
          renderChild(code, checkboxArr)
          getProgress()
        });
        form.on('radio', function (data) {
          var code = $(data.elem).data('itemid')
          renderChild(code, [data.value])
          getProgress()
        });
        //渲染二级问题
        function renderChild(code, valArr) {
          for (var i = 0; i < templateData.contentData.length; i++) {
            if (templateData.contentData[i].itemId == code) {
              var arr = []
              if (templateData.contentData[i].children) {
                for (var j = 0; j < templateData.contentData[i].children.length; j++) {
                  if (valArr.indexOf(templateData.contentData[i].children[j].dependOptionId) > -1) {
                    arr.push(templateData.contentData[i].children[j])
                  }
                }
                renderChildContent(arr, code)
                return
              }
            }
          }
        }

        function getProgress() {
          var data1 = form.val('templateForm');
          console.log(data1)
        }
        $(function () {
          getData()
          renderContent()
        })
      })
  </script>
</body>

</html>