<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>话术</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../assets/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/index.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/page.css" media="all" />
</head>

<body>
  <div class="layui-fluid common-page talkingPage">
    <form class="layui-form layui-row inline-form" wid110>
      <div class="layui-form-item layui-col-md6 layui-col-sm6">
        <label class="layui-form-label">归属省份：</label>
        <div class="layui-input-block">
          <select name="prov" id=""></select>
        </div>
      </div>
      <div class="layui-form-item layui-col-md6 layui-col-sm6">
        <label class="layui-form-label">策略类型：</label>
        <div class="layui-input-block">
          <select name="type" id=""></select> </div>
      </div>
      <div class="layui-form-item layui-col-md12 layui-col-sm12">
        <label class="layui-form-label ">话术名称：</label>
        <div class="layui-input-block">
          <input type="text" name="title" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-col-md12 layui-col-sm12">
        <label class="layui-form-label ">话术首语：</label>
        <div class="layui-input-block">
          <textarea id="demo1" style="display: none;"></textarea>
        </div>
      </div>

      <div class="layui-form-item layui-col-md12 layui-col-sm12">
        <label class="layui-form-label ">话术内容：</label>
        <div class="layui-input-block">
          <div id="contentWrap" class="contentWrap"></div>
        </div>
      </div>
      <div class="layui-form-item layui-col-md12 layui-col-sm12">
        <div class="layui-input-block">
          <button type="button" class="layui-btn " onclick="addProblem()"><i
              class="layui-icon layui-icon-add-1"></i>添加问题</button>
          <button type="button" class="layui-btn " onclick="importProblem()"><i
              class="layui-icon-import"></i>导入问题</button>
          <button type="button" class="layui-btn" onclick="importTemplate()"><i
              class="layui-icon-import"></i>导入话术</button>
        </div>
      </div>
      <div class="layui-form-item layui-col-md12 layui-col-sm12">
        <label class="layui-form-label ">话术结语：</label>
        <div class="layui-input-block">
          <textarea id="demo2" style="display: none;"></textarea>
        </div>
      </div>
      <div class="layui-form-item layui-col-md12 layui-col-sm12 text-center">
        <button type="button" class="layui-btn layui-btn-gray">预览</button>
        <button type="button" class="layui-btn " onclick="saveData()">保存</button>
        <button type="button" class="layui-btn layui-btn-red" onclick="submitData()">提交</button>
      </div>
    </form>

  </div>
  <script id="contentTemplate" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <div class="layui-form-item ">
      <label class="layui-form-label {{item.isRequired?'layui-required':''}}">{{index+1}}、{{item.itemDesc}}</label>
      {{# if(item.type=='radio'){ }}
      <div class="layui-input-block ">
        {{#  layui.each(item.options, function(i, obj){ }}
        <input type="radio" name="radio{{index}}" value="{{obj.optionId}}" title="{{obj.optionDes}}" />
        {{#  }); }}
      </div>
      {{# }else if(item.type=='checkbox'){ }}
      <div class=" layui-input-block ">
        {{#  layui.each(item.options, function(i, obj){ }}
        <input type="checkbox" name="check{{index}}[{{obj.optionId}}]" lay-skin="primary" title="{{obj.optionDes}}" />
        {{#  }); }}
      </div>
      {{# }else if(item.type=='select'){ }}
      <div class=" layui-input-block ">
        <select>
          {{#  layui.each(item.options, function(i, obj){ }}
          <option value="{{obj.optionId}}">{{obj.optionDes}}</option>
          {{#  }); }}
        </select>
      </div>
      {{# }else if(item.type=='input'){ }}
      <div class=" layui-input-block ">
        <input type="text" class="layui-input">
      </div>
      {{# }else if(item.type=='textarea'||item.type=='desc'){ }}
      <div class=" layui-input-block ">
        <textarea class="layui-textarea"></textarea>
      </div>
      {{# } }}
      <div class="handle-list">
        <a href="javascript:;" onclick="exchangeData('{{index}}','{{index-1}}')"><i
            class="layui-icon layui-icon-up"></i>上移</a>
        <a href="javascript:;" onclick="exchangeData('{{index}}','{{index+1}}')"><i
            class="layui-icon layui-icon-down"></i>下移</a>
        <a href="javascript:;" onclick="editProblem('{{index}}')"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a href="javascript:;" onclick="removeProblem('{{index}}')"><i class="layui-icon layui-icon-close"></i>删除</a>
      </div>
    </div>
    {{#  }); }}
  </script>

  <script src="../../assets/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: '../../assets/' //静态资源所在路径
      })
      .use(['laydate', 'form', 'layer', 'upload', 'laytpl', 'layedit'], function () {
        var $ = layui.$,
          laydate = layui.laydate,
          form = layui.form,
          layer = layui.layer,
          upload = layui.upload,
          laytpl = layui.laytpl,
          layedit = layui.layedit;


        layedit.build('demo1', {
          height: 180
        });

        layedit.build('demo2', {
          height: 180
        });
        var problemList = [],
          problemTreeData = [],
          problemNum = 0;
        curData = {};
        // 将问题的转换成树形结构，方便显/隐展示
        function buildTreeData(list) {
          let temp = {};
          let tree = {};
          let arr = []
          for (let i in list) {
            temp[list[i].itemCode] = list[i];
          }
          for (let i in temp) {
            if (temp[i].dependItemCode) {
              if (!temp[temp[i].dependItemCode].children) {
                temp[temp[i].dependItemCode].children = [];
              }
              temp[temp[i].dependItemCode].children.push(temp[i]);
            } else {
              tree[temp[i].itemCode] = temp[i];
            }
          }
          for (let i in tree) {
            arr.push(tree[i])
          }
          return arr
        }
        //树结构平铺
        function treeToList(tree) {
          var result = []
          var flat = function (nodes) {
            for (var i = 0; i < nodes.length; i++) {
              result.push(nodes[i])
              if (nodes[i].children) {
                flat(nodes[i].children)
              }
            }
          }
          flat(tree)
          return result
        }
        //获取数据并渲染
        function getData() {
          problemList = []
          problemTreeData = buildTreeData(problemList)
          renderContent()
        }
        //渲染问题区域
        function renderContent(data) {
          setStorageData()
          var getTpl = contentTemplate.innerHTML,
            selectWrap = document.getElementById('contentWrap');
          laytpl(getTpl).render(problemTreeData, function (html) {
            selectWrap.innerHTML = html;
            form.render()
          });
        }

        function setStorageData() {
          layui.data('talking', {
            key: 'problemTreeData',
            value: problemTreeData
          });
          layui.data('talking', {
            key: 'curData',
            value: curData
          });
        }

        //添加问题
        window.addProblem = function () {
          layer.open({
            type: 2,
            title: '添加问题',
            skin: 'common-layer',
            area: ['1100px', '600px'],
            content: './addProblem.html?pageType=add',
            btn: ['确定', '取消'],
            yes: function (index, layero) {
              curData = layui.data('talking').curData;

              function setData() {
                curData.itemCode = '' + (problemNum + 1);
                if (curData.itemGrade == '1') {
                  problemTreeData.push(curData)
                } else {
                  var list = treeToList(problemTreeData)
                  for (var i = 0; i < list.length; i++) {
                    if (list[i].itemCode == curData.dependItemCode) {
                      list[i].children = list[i].children || []
                      list[i].children.push(curData)
                    }
                  }
                }
                problemNum++
                renderContent()
                layer.closeAll()
              }
              if (curData.itemDesc) {
                if (['radio', 'checkbox', 'select'].indexOf(curData.type) > -1) {
                  if (curData.options.length > 0 && curData.options[0].optionId !== '') {
                    setData()
                  } else {
                    layer.msg('请填完所有必填项')
                  }
                } else {
                  setData()
                }
              } else {
                layer.msg('请填完所有必填项')
              }
            },
            end: function () {
              curData = {}
              setStorageData()
            }
          })
        }
        //编辑问题
        window.editProblem = function (dataIndex) {
          curData = problemTreeData[dataIndex]
          setStorageData()
          layer.open({
            type: 2,
            title: '添加问题',
            skin: 'common-layer',
            area: ['1100px', '600px'],
            content: './addProblem.html?pageType=edit',
            btn: ['确定', '取消'],
            yes: function (index, layero) {
              curData = layui.data('talking').curData;

              function setData() {
                problemTreeData[dataIndex] = curData
                renderContent()
                layer.closeAll()
              }
              if (curData.itemDesc) {
                if (['radio', 'checkbox', 'select'].indexOf(curData.type) > -1) {
                  if (curData.options.length > 0 && curData.options[0].optionId !== '') {
                    setData()
                  } else {
                    layer.msg('请填完所有必填项')
                  }
                } else {
                  setData()
                }
              } else {
                layer.msg('请填完所有必填项')
              }
            },
            end: function () {
              curData = {}
              setStorageData()
            }
          })
        }

        // 上下移动
        window.exchangeData = function (index1, index2) {
          if (index1 > -1 && index2 > -1 && index2 < problemTreeData.length) {
            var temp = problemTreeData[index1];
            problemTreeData[index1] = problemTreeData[index2];
            problemTreeData[index2] = temp;
            renderContent()
          } else {
            layer.msg('不可移动了')
          }
        }
        //删除问题
        window.removeProblem = function (index) {
          problemTreeData.splice(index, 1);
          renderContent()
        }
        //导入问题
        window.importProblem = function () {
          layer.open({
            type: 2,
            title: '导入问题',
            skin: 'common-layer',
            area: ['900px', '650px'],
            content: './importProblem.html',
            btn: ['导入', '取消'],
            yes: function (index, layero) {

            }
          })
        }
        //导入话术
        window.importTemplate = function () {
          layer.open({
            type: 2,
            title: '导入话术',
            skin: 'common-layer',
            area: ['900px', '650px'],
            content: './importTemplate.html',
            btn: ['导入', '取消'],
            yes: function (index, layero) {

            }
          })
        }
        //保存数据
        window.saveData = function () {
          //平铺的问题数据结构
          var list = treeToList(problemTreeData)
          //目前itemCode并不代表具体问题顺序，如有需要，可以遍历data后重新赋值itemCode再保存到数据库
          console.log(list)
        }
        //提交数据
        window.submitData = function () {
          //平铺的问题数据结构
          var list = treeToList(problemTreeData)
          //目前itemCode并不代表具体问题顺序，如有需要，可以遍历data后重新赋值itemCode再保存到数据库
          console.log(list)
        }

        // 页面初始化
        $(function () {
          getData()
        })
      })
  </script>
</body>

</html>