<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>互动短信-新增</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="../../assets/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/index.css" media="all" />
  <link rel="stylesheet" href="../../assets/style/page.css" media="all" />
</head>

<body>
  <div class="layui-fluid common-page ">
    <div class="layui-card">
      <div class="layui-card-body">
        <form class="layui-form layui-row inline-form" wid110>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label">归属省份：</label>
            <div class="layui-input-block">
              <select name="prov" id=""></select>
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label layui-required">唯一编码：</label>
            <div class="layui-input-block">
              <input type="text" name="prop1" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label layui-required">短信名称：</label>
            <div class="layui-input-block">
              <input type="text" name="prop2" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label layui-required">上行编码：</label>
            <div class="layui-input-block">
              <input type="text" name="prop3" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label ">开始时间：</label>
            <div class="layui-input-block">
              <input type="text" name="startDate" id="startDate" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label">结束时间：</label>
            <div class="layui-input-block">
              <input type="text" name="endDate" id="endDate" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label layui-required">校验目标用户：</label>
            <div class="layui-input-block">
              <select name="prop4" id="" lay-verify="required" lay-filter="targetUser">
                <option value="1" selected>是</option>
                <option value="0">否</option>
              </select>

            </div>
          </div>
          <div class="layui-form-item layui-col-md4 layui-col-sm4">
            <label class="layui-form-label layui-required">有效状态：</label>
            <div class="layui-input-block">
              <select name="prop5" id="" lay-verify="required">
                <option value="1" selected>编辑</option>
              </select>
            </div>
          </div>
          <div class="layui-form-item layui-col-md12 layui-col-sm12">
            <div class="layui-input-block">
              <p class="tip ">上传前请查看模板格式：<a href="javascript:;" class="fileLink">短信目标用户模板</a></p>
            </div>
          </div>
          <div id="targetUserWrap"></div>
          <div class="layui-form-item layui-col-md12 layui-col-sm12 text-center">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="submitBtn">提交</button>

          </div>
        </form>
      </div>
    </div>
  </div>
  <script id="targetUserTemplate" type="text/html">
    {{# if(d.type==='0'){ }}
    <div class="layui-form-item layui-col-md6 layui-col-sm6  ">
      <label class="layui-form-label layui-required">短信内容：</label>
      <div class="layui-input-block">
        <textarea name="prop7" class="layui-textarea" lay-verify="required"></textarea>
      </div>
    </div>
    {{# }else{  }}
    <div class="layui-form-item layui-col-md12 layui-col-sm12 ">
      <label class="layui-form-label layui-required">选择文件：</label>
      <div class="layui-input-block">
        <button id="uploadFile" type="button" class="layui-btn layui-btn-primary">选择文件</button> </div>
    </div>
    <div class="layui-form-item layui-col-md6 layui-col-sm6  ">
      <label class="layui-form-label layui-required">符合目标用户内容：</label>
      <div class="layui-input-block">
        <textarea name="prop9" class="layui-textarea" lay-verify="required"></textarea>
      </div>
    </div>
    <div class="layui-form-item layui-col-md6 layui-col-sm6 ">
      <label class="layui-form-label layui-required">不符合目标用户内容：</label>
      <div class="layui-input-block">
        <textarea name="prop10" class="layui-textarea" lay-verify="required"></textarea>
      </div>
    </div>
    {{# } }}
  </script>
  <script src="../../assets/layui/layui.js"></script>
  <script>
    layui
      .config({
        base: '../../assets/' //静态资源所在路径
      })
      .use(['laydate', 'form', 'layer', 'upload', 'laytpl'], function () {
        var $ = layui.$,
          laydate = layui.laydate,
          form = layui.form,
          layer = layui.layer,
          upload = layui.upload,
          laytpl = layui.laytpl;

        laydate.render({
          elem: '#startDate'
        })
        laydate.render({
          elem: '#endDate'
        })
        upload.render({
          elem: '#uploadFile'
            // ,url: '/upload/'
            ,
          accept: 'file',
          done: function (res) {
            console.log(res)
          }
        });

        function renderTagetWrap(type) {
          var data = {
            type: type
          }
          var getTpl = targetUserTemplate.innerHTML,
            view = document.getElementById('targetUserWrap');
          laytpl(getTpl).render(data, function (html) {
            view.innerHTML = html;
            form.render()
          });
        }
        form.on('select(targetUser)', function (obj) {
          renderTagetWrap(obj.value)
        })
        renderTagetWrap('1') //默认渲染'是'
        // 提交
        form.on('submit(submitBtn)', function (obj) {
          layer.alert(JSON.stringify(obj.field))
        })
      })
  </script>
</body>

</html>